#nav {
    color: #fff;
    float: right;
    margin: 0 180px 0 0;
    text-align: right;
}

.title-a {
    font-size: xx-large;
}

.title-b {
    font-size: xx-small;
    font-style: italic;
}


table.a {
    table-layout: fixed;
    color: #fff;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f77b65+0,cc2702+51,fca567+100 */
    background: linear-gradient(to bottom, #f77b65 0%, #cc2702 51%, #fe7940 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 5px;
    width: 810px;
    height: 30px;
    border: 1px #ffffff solid;
    margin: 0 auto;
}



#main {
    clear: both;
    margin: 0 auto;
    padding: 10px;
    width: 790px;
    height: 1100px;
    background: #fff;
    border-radius: 6px;
}

#main_title {
    border-radius: 5px;
    margin: 0 auto;
    background: #f95d08;
    height: 120px;
    color: #fff;
    padding: 5px;
}


body {
    margin: 0 auto;
    padding: 0;
    background: url(../images/back_all.jpg) repeat-x top #2a0606;
    font-family: Helvetica, sans-serif;
    font-size: 62.5%;
    color: #333;
}


#content,
#sidebar {
    width: 360px;
    margin: 0px 0 20px 0;
    padding: 10px;

}

a {
    color:#db530a;
}

#content {
    float: left;
    width: 500px;
}

#content h1 {
    font-size: 2.4em;
    color: #ffffff;
    margin: auto;
    border-radius: 5px;
    width: 500px;
    background: repeating-linear-gradient(135deg, rgba(254, 204, 177, 1) 5%, rgba(241, 116, 50, 1) 5%, rgba(234, 85, 7, 1) 12%, rgba(251, 149, 94, 1) 12%);
    padding: 10px;
}

#content p {
    font-size: 1.4em;
    margin: 0 50px 10px 0;
    width: 350px;
}

#sidebar {
    float: right;
    width:220px;
}

#sidebar h1 {
    font-size: 2.4em;
    margin: 0 0 10px 0;
    color: #ffffff;
    border-radius: 5px;
    width: 200px;
    background: repeating-linear-gradient(135deg, rgba(254, 204, 177, 1) 5%, rgba(241, 116, 50, 1) 5%, rgba(234, 85, 7, 1) 12%, rgba(251, 149, 94, 1) 12%);
    padding: 10px;
}