header {
    background: #ffbeca;
    position: relative;
    z-index: 1;
    /*設定圖層在上*/
}

#header {
    right: 0;
    margin-top: 2.5px;
    position: fixed;
    background: #ffe0e0;
    padding: 10px;
    height: 3em;
    z-index: 1;
}

#header ul li {
    display: inline;
    padding: 15px;
}

/*設定導覽列分隔線*/
li {
    position: relative;
}

li+li::before {
    content: '|';
    position: absolute;
    left: 0;
    color: #f94270
}

a:link {
    /*設定還沒有瀏覽過的連結*/
    color: #8b48f8;
    text-decoration: none;
}

a:visited {
    /*設定已經瀏覽過的連結*/
    color: #f94270;
}

a:hover {
    /*設定滑鼠移經的連結*/
    text-decoration: underline;
    color: #faff75;
}

a:active {
    /*設定正在點選的連結*/
    text-decoration: none;
    color: #8eff92;
}

#carousel {
    position: relative;
    z-index: 0;
    /*設定輪播圖層在下*/
}

body {
    background: #F8C9CD;
    padding: 15px;
    font-family: 思源黑體 , 微軟正黑體 , 蘋方黑體 , 華康麗黑體 , Helvetica , Arial , sans-serif , serif;
}

p {
    color: #A43741;
}

h1{
    color: #471318;
}
h2{
    color: #d93c49;
}
h3{
    color: #F88994;
}

h5{
    color: #F86472;
}

/*前言介紹*/
#introduce {
    padding: 20px;
    background-color: #ffe0e5;
}

/*巧克力商品介紹*/
.shop{
    background-color: #fdeded;
    padding: 30px;
}

/*留言板*/
#contact {
    text-align: center;
    background-size: cover;
    background-color: #ffe0e5;
    padding: 20px;
    height: 450px;
}

/*魔法師介紹*/
#achao {
    padding: 10px;
    margin: 0;
    background-color: #ffe0e5;
}

#img1 {
    /*魔法師圖片*/
    border-radius: 20px;
}

/*區塊進場?*/
#img {
    background-size: cover;
}

footer {
    margin: 5, 0, 5, 0;
    padding: 10px;
    background-color: #ffe0e5;
}